<div class="carousel">
    <div class="carousel-row">
      <div class="carousel-tile">Tile 1</div>
      <div class="carousel-tile">Tile 2</div>
      <div class="carousel-tile">Tile 3</div>
      <div class="carousel-tile">Tile 4</div>
      <div class="carousel-tile">Tile 5</div>
    </div>
  </div>