<mat-card>
    <h1>Write Review</h1>
    <form #classifyForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container"> 
        <mat-form-field style="width: 400px;">
            <textarea 
                matInput placeholder="Tell us what you thought about --movie_name--"
                [(ngModel)] = "text"
                name = "text"
                cdkTextareaAutosize
                cdkAutosizeMinRows="10"
                cdkAutosizeMaxRows="20"                            
            >
            </textarea>      
        </mat-form-field>                   
        <div >
            <button mat-raised-button color="primary" >Classify Review</button>
        </div>
      </div>
    </form>
    <app-my-collection *ngIf="loadClassified"></app-my-collection>
    </mat-card>